<div class="title">
  <h1>Result</h1>
</div>

<div class="results">
  <div class="score-card tile">
    <p>Score</p>
    <h2><%= @results[:score] %></h3>
  </div>
  <div class="score-card tile">
    <p>Total</p>
    <h2><%= @total %></h3>
  </div>
  <div class="message">
    <h3><%= @results[:message] %></h3>
  </div>
  <div class="btn">
    <%= link_to "Play Again", new_path %>
  </div>

</div>
